<%- include('../includes/header') %>
<%- include('../includes/navigation') %>

<div class="container AgregarEquiposRow">
    <div class="row" id="AgregarEquiposRow">
        <div class="col-sm-4" id="form-agregar-equipos">
            <form class="form-group" action="/ligas/<%= liga.id %>/equipos" method="POST">
                    <% for(let i = 1; i <= liga.numEquipos; i++){ %>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Equipo <%= i %></span>
                                </div>
                                <input type="text" class="form-control" name="equipo[<%= i %>]" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                        </div>
                    <% } %>
                    <input class="btn btn-success" type="submit" value="Agregar Equipos">
            </form>
        </div>
    </div>
</div>


<%- include('../includes/header') %>