<%- include('../includes/header') %>
<%- include('../includes/navigation') %>

<div class="container">
    <div class="row" id="AgregarEquiposRow">
        <div class="col-sm-4" id="form-equipos">
            <form class="form-group" action="/ligas/<%= liga._id %>/equipos/editar?_method=PUT" method="POST">
                    <% for(let i = 0; i < liga.numEquipos; i++){ %>
                        <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-default">Equipo <%= 1+i %></span>
                                </div>
                                <input type="text" class="form-control" name="equipo[<%= i %>]" value='<%= liga.equipos[i].nombreEquipo %>' aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                        </div>
                    <% } %>
                    <input class="btn btn-success" type="submit" value="Guardar">
            </form>
        </div>
    </div>
</div>

<%- include('../includes/footer') %>