<%- include('../includes/header') %>
<%- include('../includes/navigation') %>

<div class="container">
    <div class="row" id="AgregarEquiposRow">
        <div class="col-md-12">
            <h1>Agrega los Partidos a las Jornadas</h1>
        </div>
    </div>
    <div class="row" id="AgregarEquiposRow">
        <div class="container col-md-4">
            <form id="form-group" action='/partidos/<%= liga._id %>/agregaJornada' method="POST">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputJornada">Jornada</label>
                    </div>
                    <select name="partido[numJornada]" class="custom-select" id="inputJornada">
                    <% for(let i = 1; i < liga.numEquipos; i++){ %>
                        <option value="<%=i%>"><%= i %></option>
                    <% } %>
                    </select>                   
                </div>
        </div>
    </div>
    <div class="row">
        <% for(let j = 0; j < (liga.numEquipos/2); j++){ %>
            <div class="container col-sm-4" id="form-equipos">                    
                <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="EquipoLocal">Equipo Local</label>
                            </div>
                            <select name="partido[equipoLocal]" class="custom-select" id="EquipoLocal">
                                <% liga.equipos.forEach(equipo=>{ %>
                                    <option value="<%= equipo._id %>"><%= equipo.nombreEquipo %></option>
                                <% }); %>
                            </select>
                </div>
                <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="EquipoVisita">Equipo Visita</label>
                            </div>
                            <select name="partido[equipoVisita]" class="custom-select" id="EquipoVisita">
                                <% liga.equipos.forEach(equipo=>{ %>
                                    <option value="<%= equipo._id %>""><%= equipo.nombreEquipo %></option>
                                <% }); %>
                            </select>
                </div>
                <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="fechaPartido">Fecha</label>
                            </div>
                            <input type="date" class="form-control" name="partido[fecha]" id="fechaPartido" required>
                </div>   
                <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="horaPartido">Hora</label>
                            </div>
                            <input type="number" class="form-control" name="partido[hora]" id="horaPartido" min="0" max="23" required><br>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="minutosPartido">Minutos</label>
                    </div>
                    <input type="number" class="form-control" name="partido[minutos]" id="minutosPartido" min="0" max="59" required><br>
        </div>
            </div>
        <% } %>         
    </div>
    
        <div class="row">
            <div class="col-md-6" id="form-equipos">
                <input type="submit" class="btn btn-primary btn-block" value="Guardar">
            </div>
        </div>
        </form>
    </div>
</div>

<%- include('../includes/footer') %>