<%- include('../includes/header') %>
<%- include('../includes/navigation') %>

<div class="container">
    <div class="row" id="AgregarEquiposRow">
        <div class="col-md-12">
            <h1>Calendario Liga</h1>
        </div>
    </div>
    <div class="row" id="AgregarEquiposRow">
        <div class="container col-md-4">
            <% const liga = ligas.find(liga=>liga.id == ligaId); %>
                <form id="form-group" action='/partidos/<%= liga.id %>/agregaJornada' method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputJornada">Jornada</label>
                            </div>
                                <select name="partido[numJornada]" class="custom-select" id="inputJornada">
                                    
                                        <option value="<%=jornada%>"><%= jornada.numJornada %></option>
                                    
                                </select>                   
                        </div>
        </div>
    </div>
    <div class="row">
        <% for(let j = 0; j < (liga.numEquipos/2); j++){ %>
            <div class="container col-sm-4" id="form-equipos">                    
                <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="EquipoLocal">Equipo Local</label>
                            </div>
                            <% let equipoLocal = liga.equipos.find(equipoLocal => equipoLocal.idEquipo == jornada.partidos[j].equipoLocal); %>
                            <select name="partido[equipoLocal][j]" class="custom-select" id="EquipoLocal" value="<%= equipoLocal.nombreEquipo %>">
                                <% liga.equipos.forEach(equipo=>{ %>
                                    <% if(equipo.nombreEquipo == equipoLocal.nombreEquipo) {%>
                                        <option value='<%= equipo.idEquipo %>' selected><%= equipoLocal.nombreEquipo %></option>
                                    <%} else { %>
                                        <option value='<%= equipo.idEquipo %>'><%= equipo.nombreEquipo %></option>
                                    <% } %>
                                <% }); %>
                            </select>
                </div>
                <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="EquipoVisita">Equipo Visita</label>
                            </div>
                            <% let equipoVisita = liga.equipos.find(equipoVisita => equipoVisita.idEquipo == jornada.partidos[j].equipoVisita); %>
                            <select name="partido[equipoVisita][j]" class="custom-select" id="EquipoVisita">
                                <% liga.equipos.forEach(equipo=>{ %>
                                    <% if(equipo.nombreEquipo == equipoVisita.nombreEquipo) {%>
                                        <option value='<%= equipo.idEquipo %>' selected><%= equipo.nombreEquipo %></option>
                                    <%} else { %>
                                        <option value='<%= equipo.idEquipo %>'><%= equipo.nombreEquipo %></option>
                                    <% } %>
                                <% }); %>
                            </select>
                </div>
                <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="fechaPartido">Fecha</label>
                            </div>
                            <input type="date" class="form-control" name="partido[fecha][j]" id="fechaPartido" value="<%= jornada.partidos[j].fecha %>" required>
                </div>   
                <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="horaPartido">Hora</label>
                            </div>
                            <input type="datetime" class="form-control" name="partido[hora][j]" id="horaPartido" value='<%= jornada.partidos[j].hora %>' required><br>
                </div>
            </div>
        <% } %>         
    </div>
    
        <div class="row">
            <div class="col-md-6" id="form-equipos">
                <input type="submit" class="btn btn-primary btn-block" value="Guardar">
            </div>
        </div>
        </form>
    </div>
</div>

<%- include('../includes/footer') %>